/* for main content */
#content-inner .box {
border-radius: 8px 8px 0px 0px;
box-shadow: 0 3px 3px rgba(255, 255, 255, 0.1), 0 0 0 #BBBBBB, 0 4px 0 #AAAAAA, 0 3px 3px #444444;
}

/* remove footer bullets */
#footer li {
list-style: none;
}

.messages {
border-radius: 5px 5px 5px 5px;
}

/* for precontent bottom box */
#site-slogan-stack .stack-width {
border-radius: 8px 8px 8px 8px;
box-shadow: 0 3px 3px rgba(255, 255, 255, 0.1), 0 2px 0 #BBBBBB, 0 0 0 #AAAAAA, 0 3px 3px #444444;
}

/* for banner box */
#banner .stack-width {
border-radius: 8px 8px 8px 8px;
box-shadow: 0 3px 3px rgba(255, 255, 255, 0.1), 0 2px 0 #BBBBBB, 0 0 0 #AAAAAA, 0 3px 3px #444444;
}

/* for 2-column pre-content */
#precontent .stack-width {
border-radius: 8px 8px 8px 8px;
box-shadow: 0 3px 3px rgba(255, 255, 255, 0.1), 0 2px 0 #BBBBBB, 0 0 0 #AAAAAA, 0 3px 3px #444444;
}
