#precontent {
  padding-bottom: 15px;
  border-top-width: 0px;
  border-style: none;
  margin-top: 0px;
  padding-top: 15px;
}

#banner {
  padding: 15px 0;
}

#banner .stack-width {
  margin-bottom: 0px;
}

#footer-inner {
  border-style: none;
  background-color: #303030;
}

#preheader {
  padding-bottom: 0px;
  margin-bottom: 20px;
  padding-top: 0px;
}

#site-slogan-stack {
  border-top-width: 0px;
  border-style: none;
  padding-top: 15px;
  padding-bottom: 15px;
}

#header-region #site-name a {
  font-size: 1.3em;
}

#main #edit-submit {
  border-color: #006577;
  color: #006577;
}

#messages {
  padding-top: 0px;
  border-top-width: 0px;
}

#main #edit-preview {
  border-color: #006577;
  color: #006577;
}

body {
  background-color: rgb(109, 208, 247);  /* fallback */
  background-color: rgba(109, 208, 247, 0.4);
  background-image: url('images/subtle_texture.png');
  margin-bottom: 0px;
}

#content-inner .box {
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}

#banner .box {
  padding: 20px 20px 10px;
}

#precontent .box {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#content a {
  color: #003471;
}

#content a:hover {
  color: #d76b00;
}

#preheader a {
  color: #003471;
}

#preheader a:hover {
  color: #d76b00;
}

#footer {
  color: #fff;
}

#footer p {
  font-size: 18px;
  line-height: 1.4;
}

#footer a {
  color: #6dd0f7;
}

#footer a:hover {
  color: #d76b00;
}

#copyright a {
  color: #6dd0f7;
}

#copyright a:hover {
  color: #d76b00;
}

#site-slogan-stack .box {
  padding: 20px 20px 10px;
}

#sidebar-b {
  margin-left: 0px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#main .field-item p {
  letter-spacing: 0px;
}

#footer-inner h2 {
  text-align: center;
}

#breadcrumb .breadcrumb {
  color: #d76b00;
}

#breadcrumb .breadcrumb a {
  color: #d76b00;
}

#sidebar-a {
  margin-left: 0px;
  margin-right: 0px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#navigation-region ul .level-1 {
  background-image: none;
  font-size: 28px;
  font-family: 'League Gothic','Helvetica','serif';
}

#main {
  padding: 40px 75px;
/*  font-family: 'Helvetica Neue','Helvetica','Arial','sans-serif'; */
}

#main table td {
font-size: 1.15em;
}

#header-region #site-name {
  font-family: 'orgovan-rounded-web','fantasy';
  font-size: 72px;
  font-weight: normal;
  text-align: center;
}

#navigation-region .block {
  padding-bottom: 12px;
}

.page {
  background-color: rgb(109, 208, 247); /* fallback */
  background-color: rgba(49,110,247,0.2);
  padding-top: 20px;
}

#copyright {
  padding-top: 10px;
  margin-top: 0px;
  border-top-width: 0px;
  padding-bottom: 10px;
  background-color: #303030;
}

#prefooter {
  padding-bottom: 0px;
  border-top-width: 0px;
  background-image: url("images/dark-border_1.gif");
  background-repeat: repeat-x;
  background-color: #303030;
}

#navigation {
  background-image: none;
  padding-bottom: 0px;
  padding-top: 0px;
}

#header-inner {
  margin-bottom: 10px;
}

#content-inner {
  padding-bottom: 0px;
  padding-top: 12px;
  border-top: 0px solid transparent;
  /* background-image: url("images/header-repeat-short.gif"); */
  background-repeat: repeat-x;
  /* background-image: url("images/middle-texture3.gif"); */
  background-repeat: repeat;
}

#header-region #site-slogan {
  font-size: 22px;
  text-align: center;
  padding-top: 10px;
}

#sidebar-a h2 {
  font-family: 'Helvetica Neue','Helvetica','Arial','sans-serif';
  font-size: 20px;
  font-weight: normal;
  text-align: center;
}

#sidebar-a a:hover {
  color: #d76b00;
}

#navigation-region .level-1 a {
  color: #006577;
}

#prefooter li {
  padding-left: 0px;
  margin-left: 25px;
  line-height: 1.1;
  margin-bottom: 14px;
  font-size: 18px;
}

#main a {
  color: #003D85;
}

#main p {
  font-size: 1.7em;
}

#main a:hover {
  color: #d76b00;
}

#main .meta {
  color: #3D89A7;
  margin-bottom: 36px;
}

#prefooter h2 {
  text-align: center;
}

#sidebar-a a {
  color: #003471;
}

#main a:active {
  color: #d76b00;
}

#sidebar-a a:active {
  color: #d76b00;
}

#content a:active {
  color: #d76b00;
}

#content-area  h1 {
  text-align: center;
}

.node .meta .submitted {
/* Make most meta data invisible */
display: none;
}
.comment .meta .submitted {
/* ... except for comments */
display: block;
}

.comment .username {
font-size: 22px;
padding-right: 24px !important;
font-weight: bold;
font-family: 'Tahoma', Helvetica, sans-serif;
Color: #000;
}

#main .comment .content p {
font-size: 1.6em;
margin-bottom: 1em;
}

.clean-date {
text-align: center;
font-size: 1.4em;
font-family: 'Vollkorn', Georgia, serif;
color: #ADADAD;
margin-bottom: 1.7em;
}

/* For Views Gallery*/

.views-view-grid tbody,
.views-view-grid tr {
  border: none;
}

.views-field-field-gallery-image {
    background-color: #EEEEEE;
    border: 1px solid #CCCCCC;
    border-radius: 4px 4px 4px 4px;
    padding: 8px 8px 1px 8px;
    margin: 5px 0;
}

.stack-width #banner-region {
  text-align: center;
}

#contact-me-button a:hover {
  background-position: 0 -50px;
}

#contact-me-button a:active {
  background-position: 0 -100px;
}

/* Minor comment form customizations */
.comment-form .form-item, .form-actions {
margin: 0 0 12px 0;
}
.comment-form .form-item .description {
line-height: 1em;
}
.comment-form .form-item label {
display: block;
line-height: 15px;
}
.comment-form .form-item input, .comment-form textarea {
margin: 0px;
font-size: 12px
}

/**
 * Style archives
 */
.bb-archive-group {
font-size: .8em;
display: inline-block;
vertical-align: top;
width: 192px;
margin-bottom: 30px
}
.bb-archive-group h3 {
margin-bottom: 25px;
font-size: 26px;
font-family: 'Oswald', Impact, sans-serif;
}
.bb-archive-group ul {
padding: 0 20px 0 0;
}
.bb-archive-group ul li {
list-style-type: none;
line-height: 1.1em;
padding-bottom: 25px;
}
.bb-count {
font-family: Vollkorn, serif;
font-size: 1.4em;
}

#content-area .bryan-blog .blog-foreword .subscribe-link:link,
#content-area .bryan-blog .blog-foreword .subscribe-link:visited {
  color: #d76b00;
}
#content-area .bryan-blog .blog-foreword .subscribe-link:hover {
  text-decoration: none;
}

/**
 * Style checkbox filters 
 */
/* move checkboxes into position */
.view-display-id-blog_archives .form-type-bef-checkbox {
float: left;
margin-left: 40px;
}
.view-display-id-blog_archives .views-widget-filter-field_blog_tid label {
float: left;
}
.view-display-id-blog_archives .bef-select-as-checkboxes {
margin-top: 0px;
}
.view-display-id-blog_archives .form-type-bef-checkbox input {
float: left;
}
/* arrange filters on the page */
.view-display-id-blog_archives .views-exposed-widget {
float: none;
}
.view-display-id-blog_archives .view-filters {
width: 440px;
margin: 0 auto 60px;
}
/* style labels */
.view-display-id-blog_archives .form-type-bef-checkbox label {
margin-left: 10px;
}
.view-display-id-blog_archives .view-filters {
line-height: 1em;
font-size: 18px;
}