#precontent {
  padding-bottom: 15px;
  border-top-width: 0px;
  border-style: none;
  margin-top: 0px;
  padding-top: 15px;
}

#banner {
  padding: 15px 0;
}

#banner .stack-width {
  margin-bottom: 0px;
}

#footer-inner {
  border-style: none;
  background-color: #303030;
}

#preheader {
  padding-bottom: 0px;
  margin-bottom: 20px;
  padding-top: 0px;
}

#site-slogan-stack {
  border-top-width: 0px;
  border-style: none;
  padding-top: 15px;
  padding-bottom: 15px;
}

#messages {
  padding-top: 0px;
  border-top-width: 0px;
}

#main #edit-preview {
  border-color: #006577;
  color: #006577;
}

body {
  background-color: rgb(109, 208, 247);  /* fallback */
  background-color: rgba(109, 208, 247, 0.4);
  background-image: url('images/subtle_texture.png');
  margin-bottom: 0px;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

#content-inner .box {
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}

#banner .box {
  padding: 20px 20px 10px;
}

#precontent .box {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#content a {
  color: #003471;
}

#content a:hover {
  color: #d76b00;
}

#preheader a {
  color: #003471;
}

#preheader a:hover {
  color: #d76b00;
}

#footer {
  color: #fff;
}

#footer p {
  font-size: 18px;
  line-height: 1.4;
}

#footer a {
  color: #6dd0f7;
}

#footer a:hover {
  color: #d76b00;
}

#copyright a {
  color: #6dd0f7;
}

#copyright a:hover {
  color: #d76b00;
}

#site-slogan-stack .box {
  padding: 20px 20px 10px;
}

#sidebar-b {
  margin-left: 0px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#main .field-item p {
  letter-spacing: 0px;
}

#footer-inner h2 {
  text-align: center;
}

#breadcrumb .breadcrumb {
  color: #d76b00;
}

#breadcrumb .breadcrumb a {
  color: #d76b00;
}

#sidebar-a {
  margin-left: 0px;
  margin-right: 0px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#navigation-region ul .level-1 {
  background-image: none;
  font-size: 28px;
  font-family: 'League Gothic','Helvetica','serif';
}

#main {
  padding: 40px 75px;
}

#header-region #site-name {
  font-family: 'orgovan-rounded-web','fantasy';
  font-size: 72px;
  font-weight: normal;
  text-align: center;
}

#navigation-region .block {
  padding-bottom: 12px;
  margin-right: 6px;
}

.page {
  background-color: rgb(109, 208, 247); /* fallback */
  background-color: rgba(49,110,247,0.2);
  padding-top: 20px;
}

#copyright {
  padding-top: 10px;
  margin-top: 0px;
  border-top-width: 0px;
  padding-bottom: 10px;
  background-color: #303030;
}

#prefooter {
  padding-bottom: 0px;
  border-top-width: 0px;
  background-image: url("images/dark-border_1.gif");
  background-repeat: repeat-x;
  background-color: #303030;
}

#navigation {
  background-image: none;
  padding-bottom: 0px;
  padding-top: 0px;
}

#header-inner {
  margin-bottom: 10px;
}

#content-inner {
  padding-bottom: 0px;
  padding-top: 12px;
  border-top: 0px solid transparent;
  /* background-image: url("images/header-repeat-short.gif"); */
  background-repeat: repeat-x;
  /* background-image: url("images/middle-texture3.gif"); */
  background-repeat: repeat;
}

#header-region #site-slogan {
  font-size: 22px;
  text-align: center;
  padding-top: 10px;
}

#sidebar-a h2 {
  font-family: 'Helvetica Neue','Helvetica','Arial','sans-serif';
  font-size: 20px;
  font-weight: normal;
  text-align: center;
}

#sidebar-a a:hover {
  color: #d76b00;
}

#navigation-region .level-1 a {
  color: #006577;
}

#prefooter li {
  padding-left: 0px;
  margin-left: 25px;
  line-height: 1.1;
  margin-bottom: 14px;
  font-size: 18px;
}

.stack-prefooter .block ul {
padding-left: 0;
}

#main a {
  color: #003D85;
}

#main p {
  font-size: 1.4em;
  line-height: 1.5;
}

#main table p {
  font-size: 1em;
  line-height: 1.4;
}

#main a:hover {
  color: #d76b00;
}

#main .meta {
  color: #3D89A7;
  margin-bottom: 36px;
}

#prefooter h2 {
  text-align: center;
}

#sidebar-a a {
  color: #003471;
}

#main a:active {
  color: #d76b00;
}

#sidebar-a a:active {
  color: #d76b00;
}

#content a:active {
  color: #d76b00;
}

#content-area  h1 {
  text-align: center;
}

.node .meta .submitted {
/* Make most meta data invisible */
display: none;
}
.comment .meta .submitted {
/* ... except for comments */
display: block;
}

.comment .username {
font-size: 22px;
padding-right: 24px !important;
font-weight: bold;
font-family: 'Tahoma', Helvetica, sans-serif;
Color: #000;
}

.clean-date {
text-align: center;
font-size: 1.4em;
font-family: 'Vollkorn', Georgia, serif;
color: #ADADAD;
margin-bottom: 1.7em;
}

.logo {
  display: none;
}

.region-navigation .menu {
  text-align: center;
}

/* For Views Gallery*/

.views-view-grid tbody,
.views-view-grid tr {
  border: none;
}

.views-field-field-gallery-image {
    background-color: #EEEEEE;
    border: 1px solid #CCCCCC;
    border-radius: 4px 4px 4px 4px;
    padding: 8px 8px 1px 8px;
    margin: 5px 0;
}

.stack-width #banner-region {
  text-align: center;
}

#contact-me-button a:hover {
  background-position: 0 -50px;
}

#contact-me-button a:active {
  background-position: 0 -100px;
}

/* Minor comment form customizations */
.comment-form .form-item, .form-actions {
  margin: 0 0 12px 0;
}
.comment-form .form-item .description {
  line-height: 1.5;
  font-size: 12px;
  color: #999;
}
.comment-form .form-item label {
  display: block;
  line-height: 1.5;
}
.comment-form .form-item input, .comment-form textarea {
  margin: 0px;
  background-color: white;
  border-left: 1px solid rgba(100, 100, 100, 0.22);
  border-right: 1px solid rgba(100, 100, 100, 0.22);
  border-bottom: 1px solid rgba(100, 100, 100, 0.22);
  border-top: 1px solid transparent;
  border-radius: 2px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.4);
  padding: 6px 0 2px 6px;
  min-height: 30px;
  font-size: 16px;
}

/**
 * Style archives
 */
.bb-archive-group {
font-size: .8em;
display: inline-block;
vertical-align: top;
width: 192px;
margin-bottom: 30px
}
.bb-archive-group h3 {
margin-bottom: 25px;
font-size: 26px;
font-family: 'Oswald', Impact, sans-serif;
}
.bb-archive-group ul {
padding: 0 20px 0 0;
}
.bb-archive-group ul li {
list-style-type: none;
line-height: 1.1em;
padding-bottom: 25px;
}
.bb-count {
font-family: Vollkorn, serif;
font-size: 1.4em;
}

#content-area .bryan-blog .blog-foreword .subscribe-link:link,
#content-area .bryan-blog .blog-foreword .subscribe-link:visited {
  color: #d76b00;
}
#content-area .bryan-blog .blog-foreword .subscribe-link:hover {
  text-decoration: none;
}

/* remove footer bullets */
#footer li {
list-style: none;
}

.messages {
border-radius: 5px 5px 5px 5px;
}

/* all 3d styles on 'cards' */
#content .box {
    margin: 0 16px;
    border-radius: 8px;
    box-shadow: 0 3px 3px rgba(255,255,255,0.1),0 0 0 #BBBBBB,0 4px 0 #AAAAAA,0 3px 3px #444444;
    background-color: #fdfdfd;
    background-image: url(/sites/all/themes/rebrauned/images/subtle_texture_white50.png);
}

/* override the bottom one so it tucks under the footer */
#content-inner .box {
border-radius: 8px 8px 0px 0px;
}

/* override the messages one */
#messages .box {
box-shadow: none;
background: none;
}

/**
 * Style checkbox filters 
 */
/* move checkboxes into position */
.view-display-id-blog_archives .form-type-bef-checkbox {
float: left;
margin-left: 40px;
}
.view-display-id-blog_archives .views-widget-filter-field_blog_tid label {
float: left;
}
.view-display-id-blog_archives .bef-select-as-checkboxes {
margin-top: 0px;
}
.view-display-id-blog_archives .form-type-bef-checkbox input {
float: left;
}
/* arrange filters on the page */
.view-display-id-blog_archives .views-exposed-widget {
float: none;
}
.view-display-id-blog_archives .view-filters {
width: 440px;
margin: 0 auto 60px;
}
/* style labels */
.view-display-id-blog_archives .form-type-bef-checkbox label {
margin-left: 10px;
}
.view-display-id-blog_archives .view-filters {
font-size: 18px;
}
/* one-off page styles */
#node-321 ul li {
  line-height: 1.4;
  list-style-type: none;
}
.view-recent-blog-posts .divider {
    padding-top: 36px;
}
/* Email Subscribe */
.subscribe-form {
    max-width: 600px;
    margin: 0 auto;
}
.subscribe-text {
    max-width: 220px;
    float: left;
    text-align: left;
}
#main .subscribe-text p {
    font-size: 17px;
    line-height: 1.3;
    margin: 0;
}
.subscribe {
    background-color: white;
    border-left: 1px solid rgba(100, 100, 100, 0.22);
    border-right: 1px solid rgba(100, 100, 100, 0.22);
    border-bottom: 1px solid rgba(100, 100, 100, 0.22);
    border-top: 1px solid transparent;
    border-radius: 2px;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.4);
    padding: 6px 0 2px 6px;
    min-height: 30px;
    width: 200px;
    float: left;
    margin: 0 20px;
    font-size: 16px;
}
.subscribe-button {
    height: 38px;
    line-height: 35px;
    border: 0;
    border-radius: 3px;
    margin: 1px 0 0 0;
    font-size: 14px;
    color: #fff;
    background-color: #a7a37e;
    vertical-align: middle;
    width: 120px;
    float: left;
    display: inline-block;
}
.subscribe-button:hover {
    background-color: #8E8A6B;
    cursor: pointer;
}
.subscribe-below {
  padding-top: 5em;
  margin-bottom: 4em;
  clear: both;
}

/* comment links */
.node-article ul.links {
  margin: 0;
}
#content-area .node-article ul.links li {
  padding-bottom: 0;
}

/* Responsive Styles */

img {
  max-width: 100%;
}

@media all and (max-width: 940px) {
  #main {
    padding: 10px;
  }
}


/* mobile-ish */
@media all and (max-width: 680px) {
  .site-name {
    text-align: center;
    font-size: 75px;
    padding: 0 0 16px 0;
  }
  
  .stack-navigation h2 {
    display: block !important;
    text-align: center;
    color: white;
    font-size: 2em;
    text-shadow: 1px 1px #aaa;
  }

  .col-3 .col {
    width: 100%;
  }

  .col-3 .col img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .stack-navigation .menu a {
    width: 100%;
    display: block;
    padding: 20px 0;
  }
  .stack-navigation .menu {
    text-align: center;
    width: 100%;
    display: none;
  }

  .stack-navigation .menu li {
    width: 100%;
    float: none;
    padding: 0;
    margin: 0;
  }

  #main p {
    font-size: 1.4em;
  }
  #content-area ol li,
  #content-area ul li {
    font-size: 1.4em;
  }
  h1 {
    font-size: 40px; /* Bryan changed this from 36px */
  }

  h2 {
    font-size: 28px;  /* Bryan changed this from 22px */
  }

  h3 {
    font-size: 24px; /* Bryan changed this from 20px */
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 16px;
  }

  h6 {
    font-size: 16px;
    font-style: italic;
  }
}