@font-face {
  font-family: 'League Gothic';
  src: url('fonts/League%20Gothic/League_Gothic.eot');
  src: local('LeagueGothic'), local('League Gothic'), url('fonts/League%20Gothic/League_Gothic.woff') format('woff'),
   url('fonts/League%20Gothic/League_Gothic.ttf') format('truetype'),
   url('fonts/League%20Gothic/League_Gothic.svg') format('svg');
}

@font-face {
  font-family: 'Lane';
  src: url('fonts/Lane/LANENAR_.eot');
  src: local('Lane - Narrow'), local('Lane-Narrow'), url('fonts/Lane/LANENAR_.woff') format('woff'),
   url('fonts/Lane/LANENAR_.ttf') format('truetype'),
   url('fonts/Lane/LANENAR_.svg') format('svg');
}

