/** 
* @file
* Styles.
* 
* @see default.css
*/

/* @group HTML Elements */

/* @group Block  */

body { 
  font-family: "Helvetica Neue" ,Helvetica, Arial, sans-serif;
  line-height: 2.8em; /* 27px */
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1em 0;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
.site-name a { 
  text-decoration: none;
}

h1 {
  font-size: 48px; /* Bryan changed this from 36px */
  line-height: 54px;
}

h2 {
  font-size: 34px;  /* Bryan changed this from 22px */
  line-height: 40px;
}

h3 {
  font-size: 30px; /* Bryan changed this from 20px */
  line-height: 34px;
}

h4 {
  font-size: 26px;
  line-height: 32px;
}

h5 {
  font-size: 20px;
  line-height: 28px;
}

h6 {
  font-size: 20px;
  line-height: 28px;
  font-style: italic;
}

.wrapper-content h2,
.wrapper-content h3,
.wrapper-content h4,
.wrapper-content h5,
.wrapper-content h6 {
  font-family: 'Tahoma', Helvetica, sans-serif;
  font-weight: bold;
}

/* headings using google fonts */
/*#header #header-inner,
#prefooter h2,
#footer-inner h2, */
.block-block h2,
.block-views h2,
#navigation .menu,
.wrapper-content h1 {
  font-family: "Oswald", Impact, sans-serf;
}

#content p,
#content ul,
#content ol,
#content table {
  font-family: 'Vollkorn', Georgia, serif;
}



a,
a:active,
a:hover,
a:visited {
  text-decoration: none;
}

/* for "contact me" button */

#main .content #contact-me{
  width: 200px;
  height: 50px;
  margin: 25px 300px;
  display: block;
  text-decoration: none;
  background-image: url(images/contactme.png);
  background-position: 0 0;
}

#main .content #contact-me:hover{
  background-position: 0 -50px;
}
#main .content #contact-me:active{
  background-position: 0 -100px;
}

.site-name {
  padding: 30px 0;
  font-size: 140px;
  line-height: 82px;
  text-align: center;
  margin: 0;
  font-family: "Oswald", Impact, sans-serf;
  font-weight: normal;
}

.stack-slogan .box {
  font-family: Georgia,New Century Schoolbook,Nimbus Roman No9 L,serif;
  font-size: 22px;
  margin: 0;
  text-align: center;
}

.stack-slogan p {
  margin-top: 0;
}

.intro {
  font-family: Georgia,New Century Schoolbook,Nimbus Roman No9 L,serif;
  font-size: 18px;
}

blockquote {
  font-family: Georgia,New Century Schoolbook,Nimbus Roman No9 L,serif;
  font-size: 13px;
  font-style: italic;
  padding-left: 30px; /* added by Bryan */
}

.logo {
  float: left;
}

.content strong {
  font-weight: bold;
}

/* @end */

/* @end */

/* @group Stacks */

.page {
  padding-bottom: 0;
}

.stack-copyright {
  margin-top: 2.0769em;
  padding-bottom: 2.0769em;
  padding-top: 2.0769em;
}

.page-width {
  width: 100%;
}

.stack-width {
  width: 960px;
}

.wrapper-content {
  margin-top: 0;
}

.wrapper-content .inset-1,
.wrapper-footer .inset-1 {
  padding-top: 0;
}

.stack {
  border-style: solid;
  border-width: 2px 0 0;
  display: block;
}

.sidebar {
  width: 25%;
}

/* @end */

/* @group Inflections */

/* @group Item List */

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
  padding-left: 3em; /* changed from 2.5em by bryan */
}

ol li, ul li {
font-size: 1.3em;
}

#content-area ol li, #content-area ul li {
font-size: 1.8em;
}


dl {
  font-size: 13px;
}

dd {
  padding-left: 1em;
}

/* @end */

/* @group Horizontal List */

.horizontal .menu {
 /*  height: 2em; */  /* Bryan changed this to fix child navigation stuff */
}

.stack-navigation .menu li {
  margin-left: 1em; /* LTR Bryan change this... it used to say "margin-left: 1.6923em;" */
  padding-left: 1em; /* LTR Bryan change this... it used to say "margin-left: 1.6923em;" */
}

.stack-navigation .menu li.first {
  margin-left: 0;
  padding-left: 0;
}

.horizontal.col-align-right .col-c {
  float: right;
}

/* @end */

/* @group Preheader */

.stack-preheader {
  font-size: 12px;
  padding: 2px 0 4px;
}

.stack-preheader ul.menu {
  margin-top: 0.6923em;
}

.stack-preheader .menu li {
  padding-left: 0;
  margin-left: 0;
}

.stack-preheader .menu li a {
  border-style: solid;
  border-width: 0 0 0 1px;
  margin-left: 10px;
  padding-left: 11px;
}

.stack-preheader .menu li.first a {
  border-left: medium none;
  margin-left: 0;
  padding-left: 0;
}

/* @group Header */

.wrapper-header {
  margin-top: 2px;
}

.wrapper-header .stack {
  border-top: none;
}

.stack-header-inner .inset-3 {
  text-align: center;
}

.stack-header-inner .inset-4 {
  margin: 0 auto;
  text-align: left;
  width: 960px;
}

.wrapper-content .stack-slogan {
  padding: 43px 0;
}

/* @end */

/* @group Navigation */

.stack-navigation h2 {
  display: none;
}

.stack-navigation .menu {
  list-style: none;
  padding: 0;
}

.stack-navigation .menu li {
  font-size: 28px; /* Bryan changed this... it used to say "font-size: 14px;" */
  /* font-weight: bold; ----- removed by Bryan ----- */
  line-height: 25px;
  list-style: none;
}

.stack-navigation .menu li {
 /* background: url(images/nav-spacer.png) no-repeat left top; */ /* Bryan took these out... they messed up child menu items */
  margin-top: 0;
}

.stack-navigation .menu .first {
  background-image: none;
}

.stack-navigation .menu .last a {
  margin-right: 0;
}

/* @end */

/* @group Banner */

.stack-banner .block-rotating-banner {
  display: block;
  min-width: inherit;
}

.rotating-banner .rb-slide {
  border-style: solid;
  border-width: 10px;
}

.stack-banner {
  background-repeat: no-repeat;
  border-top: none;
  padding-top: 28px;
}

.stack-banner p {
  margin: 0;
}

.stack-banner + .stack {
  margin-top: 0px; /* changed from 24px */
}

/* @end */

/* @group Precontent */

.stack-precontent {
  padding: 24px 0;
}

/* @end */

/* @group Sidebar */

.sidebar .content p:first-child,
.sidebar .content ul:first-child,
.sidebar .content ol:first-child {
  margin-top: 0;
}

/* @end */

/* @group Prefooter */

.stack-prefooter {
  background: url(images/shadow-top.png) repeat-x left top;
  padding: 24px 0;
}

/* @end */

/* @group Footer */

.stack-footer .col {
  padding-bottom: 20px;
}

/* @end */

/* @group Content */

.stack-content-inner {
  padding: 24px 0;
}

.block ul.inline {
/*  margin-top: 0; */
  font-size: 14px;
}

/* @end */

/* @group Top menu */

.stack-preheader .block h2 {
  display: none;
}

/* @end */

/* @group Links inline */

ul.inline {
  padding: 0;
}

ul.inline li.first {
  padding-left: 0;
}

ul.action-links {
  list-style: none;
  padding-left: 0;
}

.item-list ul li + li, .menu li + li {
  margin-top: 0;
}

/* @end */

/* @group Table Styling */

tbody {
  border-bottom: 1px solid #CCC;
  border-top: 1px solid #CCC;
}

table th:first-child,
table td:first-child,
table td,
table th {
  padding: 4px 10px;
}

thead th {
  border-bottom: none;
  font-size: 16px;
  font-weight: bold;
}

tbody tr:first-child {
  border-top: none;
}

tbody tr.even,
tbody tr.odd {
  border-bottom: none;
  border-top: 1px dotted #666;
}

tbody tr.odd {
  background: #161616;
}

tbody tr.even {
  background: #121212;
}

/* @end */

/* @group User Profile */

.profile .user-picture {
  float: right;
  margin: 0 1em 1em;
}

.profile .user-info {
  overflow: hidden;
}

/* @end */

/* @group Feedback Link */

#block-feedback-feedback a {
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
}

/* @end */

.float-overflow {
  overflow: hidden;
}

/* @group Product Feature */

.stack-precontent .block h2,
.stack-precontent .block p {
  margin-top: 0;
}

.stack-precontent .block .field-type-file {
  float: left;
  line-height: 0;
  margin-right: 10px;
}

/* @end */


/* @group Comments */

#gardens_ie7 .comment-wrapper h2 {
  display: inline-block; /* Fixes IE7 doubled padding top bug */
}

.comment-wrapper h2 {
  margin-bottom: 16px;
}

.comment {
  margin-top: 0;
  padding: 34px 6px 20px;
  border-top: 1px solid #ccc;
}

.comment .user-picture {
  float: left;
}

.comment .user-picture img {
  height: auto;  
  width: 65px;
}

.comment .user-picture + div {
  overflow: hidden;
}

.comment h3 {
  margin: 0;
}

.node .links.actions,
.node .comment-wrapper .links li,
.comment-wrapper .links li,
.comment-by-viewer .links li {
  float: right;
}

/* @end */

/* @group Nodes */

.node + .node-article,
.node + .node-blog,
.divider {  /* divider selector added by bryan */
  background-attachment: scroll;
  background-color: transparent;
 /* background-image: url("images/horizontal-scroll.png"); */
  background-position: center 20px; /* changed from top center , by bryan */
  background-repeat: no-repeat;
 /* margin-top: 24px; */
  padding-top: 90px; /* increased by bryan */
}

.node .meta {
  line-height: 16px;
}

.node .meta span {
  /* font-weight: 300; */
}

.node .meta div {
  font-weight: 400;
}

.node .meta .terms-inline .field-items .field-item {
  display: inline;
  font-weight: 300;
  padding: 0 8px;
}

.node .meta .terms-inline .field-items .field-item + .field-item {
  border-left: 1px solid #999;
}

.stack-content-inner .node .content {
  margin-top: 16px;
}

.user-picture {
  float: left;
  margin-right: 10px;
}

.user-picture img {
  height: auto;
  max-width: 65px;
}

.user-picture + div {
  overflow: hidden;
}

.node-unpublished {
  background-color: #330000;
}

/* @end */

/* @group Blog */

.node-blog .not-picture {
  background: url(images/horizontal-scroll.png) no-repeat center bottom;
  margin-bottom: 24px;
  padding-bottom: 44px;
}

.node-blog:last-child .not-picture {
  background: none;
  padding-bottom: 0;
}

.page-blog h1 + .action-links,
.page-blog .block-system > .content > .item-list:first-child ul {
  margin: 0 0 1em;
}

/* @end */

/* @group Webform */

.webform-client-form input {
  /* Chosen so it fits on a page with a three column layout */
  max-width: 31em;
}

.webform-client-form .webform-container-inline input {
  /* Chosen as above, but also taking into account the inline label width */
  max-width: 21em;
}

.webform-client-form fieldset input {
  /* Chosen so it fits within a fieldset on a page with a three column layout */
  max-width: 29em;
}

.webform-client-form fieldset .webform-container-inline input {
  /* Chosen as above, but also taking into account the inline label width */
  max-width: 20em;
}

/* @end */

/* @group jQuery UI adjustments */

.ui-datepicker {
  line-height: 1.3846em; /* 18px line height */
}

.ui-datepicker tbody {
  border-bottom: 0 none;
  border-top: 0 none;
}

.ui-datepicker th {
  color: #222;
  font-size: 14px;
  width: 14.2%;
}

/* @end */

/* @group Inputs */

input.form-submit,
button {
  -moz-border-radius: 2em;
  -o-border-radius: 2em;
  -webkit-border-radius: 2em;
  border-radius: 2em;
  border: 2px solid;
  font-weight: bold;
  text-align: center;
}

/* @end */

/* @group Tabs */

.tabs ul.primary li + li {
  margin-left: 0;
}

/* @end */

/* @group WYSIWYG */

.wysiwyg-allowed {
  color: #666666;
}

/* @end */

/* @end */

/* @group System Overrides */

.messages,
.messages ul,
.messages ul li {
  color: #000;
}

.messages ul {
  margin: 0;
  padding-left: 2em;
}

/* @end */

/* @group Palette */

/**
* Colors
* white    #FFFFFF - Almost White
* black    #121212 - Charcoal
* a        #62a734 - Green
* b        #00a5ff - Light Green
* c        #cccccc - Light Grey
* d        #d3fec1 - Light Blue
* e        #f5f5f5 - Grey
*/

/* @group Text */

/* Blue */
a {
  color: #00A5FF;
}

a:visited {
  color: #00A5FF;
}

li a.active {
  color: #00A5FF;
}

button {
  color: #00A5FF;
}

input.form-submit {
  color: #00A5FF;
}

.rotating-banner a {
  color: #00A5FF;
}

/* White */

#site-name a {
  color: #FFFFFF;
  text-shadow: 1px 2px #aaa;
}

.menu li a:active {
  color: #FFFFFF;
}

.menu li .active {
  color: #FFFFFF;
}

.breadcrumb a:hover {
  color: #FFFFFF;
}

#forum th {
  color: #FFFFFF;
}

#forum th a {
  color: #FFFFFF;
}

table th {
  color: #FFFFFF;
}

.faq-item-inline-question-title a {
  color: #FFFFFF;
}

.content strong {
  color: #FFFFFF;
}

/* @group Backgrounds */

/* Green */
.wrapper-header {
}

.controls.buttons a.activeSlide {
  background-color: #62A734;
}

.faq-item-question-label {
  background-color: #62A734;
}

#block-feedback-feedback a {
  background-color: #62A734;
}

/* White */

input.form-submit {
  background: #FFFFFF;
}

button {
  background: #FFFFFF;
}

.rb-slide {
  background: #FFFFFF;
}

#block-feedback-feedback a:hover {
  background-color: #999999;
}

/* @end */

/* @group Borders */

.stack-navigation ul.menu .menu li {
  border-color: #ffffff;
}

.rotating-banner .rb-slide {
  border-color: #ffffff;
}

.stack-preheader .menu li a {
  border-color: #999999;
}
.comment,
.block-aggregator ul li {
}

input.form-submit {
  border-color: #CCCCCC;
}

button {
  border-color: #CCCCCC;
}

.stack {
  border-color: #000000;
}

.menu-dropdown ul.menu .menu li {
  border-color: #cccccc;
}

/* @end */

/* Bryan's Change for acquia page */

#precontent div.content a:hover img.acquia-snippet {
border: 2px solid black;
-webkit-box-shadow: 0px 0px 5px 4px #D76B00;
-moz-box-shadow: 0px 0px 5px 4px #D76B00;
box-shadow: 0px 0px 5px 4px #D76B00; 
}

#precontent div.content a img.acquia-snippet {
border: 2px solid black;
}

.center-that {
  text-align: center;
}


/* @end */

/* @group IE7 */

#gardens_ie7 .item-list ul li {
  list-style-type: square;
}

#gardens_ie7 .col-align-right.horizontal .col:first-child .menu li,
#gardens_ie7 .col-align-last-right.horizontal .col:first-child .menu li {
  display: inline;
}

/* @end */